.container-account {
  margin: 0;
  overflow-y: hidden !important;
}

.account-input {
  padding-top: 0;
  padding-bottom: 0;
}

.account-content {
  margin-top: 10px;
}

.container-account-verify {
  margin: 0;
  overflow-y: hidden !important;
  height: 100%;
}

.content-account-verify {
  height: 80vh;
}

.list-accounts-tittle {
  margin-bottom: 30px;
}

.list-table {
  margin-bottom: 20px;
}
