.navbar {
  background-color: $admin-base-color !important;
}

.admin-container-home {
  height: 100%;
  padding: 0;
}

.admin-logo {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.admin-logo-image {
  margin-top: 50px;
  margin-bottom: 10px;
  filter: contrast(40%);
  filter: brightness(50%);
}

.admin-footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  padding: 0 !important;
  background-color: $admin-base-color !important;
}

.container-login {
  height: 100%;
  margin: 0;
  overflow-y: hidden !important;
}

.content-login {
  height: 100%;
}

.register-form {
  max-height: 90vh;
  overflow-y: auto;
}

.adminLogo{
  filter: contrast(40%);
  filter: brightness(50%);
}
